/*Agragamos fuentes de texto al body*/
body {
  font-family: 'Raleway', sans-serif;
}

/*Configuramos los hr divisores en el body*/
hr {
  padding-left:0.5rem;
  padding-right:0.25rem;
  height:1px;
  border:0.5rem solid;
}

/*Configuramos los iconos de redes sociales del footer*/
#final a{
  color: #ffffff;
  text-decoration: none;
}

/*Configuramos los espacios del footer*/
#space-end a{
  padding-left: 0.8rem;
}